<tr class="my-table-row" style="width: 112% !important;">
    <th class="my-head-element" >{{selected}}</th>
    <th class="my-head-element" >Name</th>
    <th class="my-head-element">Phone</th>
    <th class="my-head-element">SSN</th>
    <th class="my-head-element">DOB</th>
    <th class="my-head-element">Hired</th>
    <th class="my-head-element">CDL#</th>
    <th class="my-head-element">State</th>
    <th class="my-head-element">CDL exp.</th>
    <th class="my-head-element">Medical exp.</th>
    <th class="my-head-element">MVR exp.</th>
    <th class="my-head-element"><a href="#" style="color:black;"><i class="fa fa-paperclip" ></i></a></th>
    <th class="my-head-element my-svg">
        
    </th>
    <th class="my-head-element">&nbsp;</th>
    <th class="my-head-element">&nbsp;</th>
</tr>
